<ul id="lists">
  <% @all_lists.each do |list| %>
    <li><a href="/lists/<%= list.id %>"><%= list.title %></a></li>
  <% end %>
</ul>

<% content_for :header_links do %>
    <a href="/lists/new">New List</a>
<% end %>
