<form action="/lists" method="post">
  <dl>
    <dt>
      <label for="list_title">Enter the new title for you list:</label>
    </dt>
    <dd>
      <input name="list_title" placeholder="List Title" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/">Cancel</a>
  </fieldset>
</form>
